@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Jockey+One&family=Rubik+Spray+Paint&display=swap');
.body {
    box-sizing: border-box;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 0;
    padding-left: 40px;
    text-align: center;
}

.header {
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto;
}

.header h1 {
    color: #B40909;
    margin: 10px;
    font-family: 'Jockey One', sans-serif;
    letter-spacing: 5px;
}

.header h3 {
    margin: 10px;
    font-family: 'Inter', sans-serif;
}

ul {
    margin-left: 0;
    padding-left: 40px;
    font-family: 'Inter', sans-serif;
}

input {
    size: 50px;
}

