img {
    width: 10rem;
}

.Rewards ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.Rewards li {
    text-align: center;
}

.Rewards p {
    margin: 10px 0;
}
