@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Pixelify+Sans&display=swap');
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}

.Rewards ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.Rewards li {
    width: 25rem; /* Adjust the width based on your grid layout and margins */
    margin: 10px; /* Adjust margin as needed to control the spacing */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Rewards p {
    text-align: center;
}

.Rewards h3 {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 5rem;
    padding: 1px;
    text-align: center;
}
